name: Build Docker

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GH_TOKEN }}

    - name: Build and push Docker image
      run: |
        docker build -t ghcr.io/yuvalavr24/sony_task/hello_world -f Dockerfile  .
        docker push ghcr.io/yuvalavr24/sony_task/hello_world
